<h1>hola
  {{#each user}}
  <a href="/{{this.id}}"></a>
  {{this.username}}
  {{/each}}
</h1>
{{!-- <button><a href="/maps">Maps</a></button>
<button><a href="/comments">Comments</a></button>
<button><a href="/kioskPlaces">Kiosk Places</a></button> --}}