
<div class = "profile">
<h1 class = "titleProfile">Welcome
  {{#each user}}
  {{!-- <a href="/{{this.id}}"></a> --}}
  {{this.username}}
  {{/each}}
</h1>
<p class="profileText">View the<a class ="commentsProfile" href="/comments">comments</a> </p>


</div>

