<h1 class= "titleComments">Author 
  {{this.author.username}}</h1>
  <br>
<h1 class= "titleComments">Kiosk Name{{this.kiosk.kioskName}}</h1>
<br>
<p class= "titleComments">Comments{{this.comments}}</p>