<div class="col s12 m6 l3">
  <div class="card boxColor">
    <div class="card-content white-text">
      <span class="card-title">{{this.kiosk.kioskName}}</span>
      <p>{{this.comments}}</p>
    </div>
    <div class="card-action">
      <p>{{this.author.username}}</p>

    </div>
  </div>

</div>