<div class = "commentsKiosk">

<div class = "boxComments">
{{#if kiosk}}
<img src="{{kiosk.picPath}}" width= "700px" alt="">
{{else}}
<img src="{{comment.0.kiosk.picPath}}"  width= "700px" alt="">
{{/if}}

<br>
<form action="/comments" method="post">

  
  <h1 class= "commentFormKiosk">Comment</h1>  
  <br>
  <textarea class = "box" placeholder= "Write your comment" name="commentsKiosk"></textarea><br />

  <p class = "commentFormKiosk">Kiosk Valuation</p>
  <br>
  <p class="clasificacion">
    <input id="radio1" type="radio" name="estrellas" value="1">
    <label for="radio1">★</label>
    <input id="radio2" type="radio" name="estrellas" value="2">
    <label for="radio2">★</label>
    <input id="radio3" type="radio" name="estrellas" value="3">
    <label for="radio3">★</label>
    <input id="radio4" type="radio" name="estrellas" value="4">
    <label for="radio4">★</label>
    <input id="radio5" type="radio" name="estrellas" value="5">
    <label for="radio5">★</label>
  </p>
  <br>
  <input type="hidden" name="kiosk" value="{{comment.0.kiosk._id}}">
  <br>
  <input type="submit" value="Send" class= "buttonSend">
</form>

</div>

{{!-- <ul>
  {{#each comment}}
  {{>commentsKiosk this}}
  {{/each}}
</ul>
 --}}
