<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section class="homePicture">
<h1></h1>
<img>
</section>

<section class="3BlocksDescription">
  <div class ="">
    <img>
    <h1>servicios</h1>
    <p>servicios</p>
  </div>
 
  <div class ="">
    <img>
    <h1>create tu cuenta</h1>
    <p>create tu cuenta</p>
  </div>
  
  <div class ="">
    <img>
    <h1>comenta sobre tu experiencia</h1>
    <p>comenta sobre tu experiencia</p>
  </div>
</section>



