<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<section class="homePicture">
<div class="banner">
  <div class="banner__overlay">
    <div class="banner__container">
      <h1 class="banner__title">KIOSK</h1>
      <p class="banner__text">WiFi · Cigarettes · Drinks · Souvenirs</p>
      <a href="#" class="btn btn--opacity">SEARCH</a>
    </div>
    <img class="banner__scroll-down" src="data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiNGRkZGRkYiLz4KICA8L2c+Cjwvc3ZnPgo=" />

  </div>
</div>
</section>



<section class="3BlocksDescription">
<div class="sect sect--type">
  <div class="container">
    <div class="row row--center">
      <div class="col-md-5 col-xs-8 col-sm-6 col--inbl">
        <h1 class="sect__title">We believe in enjoying Kiosks</h1>
      <p class="sect__subtitle">
      Search for the best kiosks of your city   
      </p>
      </div>
    </div>
    <div class="row row--small row--margin row--center">
      <div class="col-md-4 col-sm-4 coffee">
        <img src="../public/images/wifiSymbol.jpg" class="coffee__img">
        <h2 class="coffee__name">Services</h2>
        <p class="coffee__descr">
        Get to know what kiosks have WiFi, cold drinks or souvenirs.
        </p>
      </div>
      
      <div class="col-md-4 col-sm-4 coffee">
        <img src="../public/images/userSymbol.png" class="coffee__img">
        <h2 class="coffee__name">Your own profile</h2>
        <p class="coffee__descr">
          Sign up and have your own account.
        </p>
      </div>
      
       <div class="col-md-4 col-sm-4 coffee">
        <img src="../public/images/commentSymbol.jpg" class="coffee__img">
        <h2 class="coffee__name">Comment</h2>
        <p class="coffee__descr">
          Comment about your experience with kiosks you visit.
        </p>
      </div>  
    </div>
       <div class="row row--margin row--center">
         <a href="#" class="btn">Full menu</a>
       </div>
  </div>
</div>

</section>





  {{!-- <div class ="">
    <img>
    <h1>servicios</h1>
    <p>servicios</p>
  </div>
 
  <div class ="">
    <img>
    <h1>create tu cuenta</h1>
    <p>create tu cuenta</p>
  </div>
  
  <div class ="">
    <img>
    <h1>comenta sobre tu experiencia</h1>
    <p>comenta sobre tu experiencia</p>
  </div> --}}

