
<section class="homePicture">
<div class="banner">
  <div class="banner__overlay">
    <div class="banner__container">
      <h1 class="banner__title">KIOSK</h1>
      <p class="banner__text">WiFi · Cigarettes · Drinks · Souvenirs</p>
      <a href="/maps" class="btn btn--opacity btnSearch">SEARCH</a>
    </div>
    <img class="banner__scroll-down" src="data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiNGRkZGRkYiLz4KICA8L2c+Cjwvc3ZnPgo=" />

  </div>
</div>
</section>



<section class="3BlocksDescription">
<div class="sect sect--type">
  <div class="container">
    <div class="row row--center">
      <div class=" col-xs-8  col--inbl centerTextHome">
        <h1 class="sect__title centerTextHome">The easiest way to find your Kiosk</h1>
      
      </div>
    </div>
    <div class="row row--small row--margin row--center">
      <div class="col-md-4 col-sm-4 coffee">
        <img src="/images/iconWIFI.png" class="coffee__img">
        <h2 class="coffee__name">Services</h2>
        <p class="coffee__descr">
        Find what kiosks have WiFi, cold drinks, cigarettes or souvenirs.
        And of course you can also buy International Press, Local Press or Magazines.
        </p>
      </div>
      
      <div class="col-md-4 col-sm-4 coffee">
        <img src="/images/userSymbol.png" class="coffee__img">
        <h2 class="coffee__name pHome">Your own profile</h2>
        <p class="coffee__descr">
          Sign up for free and have your own account. No credit card required. Intuitive controls make adding kiosks features, images and descriptions easy.
        </p>
      </div>
      
       <div class="col-md-4 col-sm-4 coffee">
        <img src="/images/commentICON.png" class="coffee__img">
        <h2 class="coffee__name">Comment</h2>
        <p class="coffee__descr">
          Rate and summarize the experience. Add a helpful tip. 
          Comment about your experience with kiosks you visit.
        </p>
      </div>  
    
</div>

</section>

