<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
    
  <link rel="stylesheet" href="/stylesheets/style.css" />
  
</head>
<body>

  <nav>
    {{#if user}}
    <a href="/">Kiosk</a>
    <a href="/maps">Map</a>
    <a href="/comments">Comments</a>
    <a href="/kioskPlaces">Kiosks</a>
    <a href="/auth/logout">Logout</a>
    {{else}}
    
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    {{/if}}

    {{!-- {{#if window.location}} --}}

  </nav>

  {{{body}}}

  {{!-- <footer>

    <div class ="">
    
    <p>Site made by Patricia & Norma</p>
  </div>

  <div class ="">
    
    <p> Copyright &copy; Kiosk</p>
  </div>
   
  </footer>
   --}}

  <script src="/javascripts/script.js"></script>
</body>
</html>