
<head>
  <title>My First Map</title>
  <style>
    #map {
        height: 500px;
        width: 100%;
       }
    </style>
</head>

<body class="image " >
 <h1>Look for your Kiosk</h1>

  <div id="map" style="position:sticky !important"></div>
  
{{!-- FORM --}}
<div > 

  <form id="form" class="mapForm" action="/kioskPlaces/new" enctype="multipart/form-data" method="POST">
  <input id="newName" type="text" name="newKioskName" placeholder="Nombre del kiosko">
  <input id="latitude" type="hidden" name="newKioskLatitude">
  <input id="longitude" type="hidden" name="newKioskLongitude">
  <textarea id="description" type="text" name="newKioskDesc" placeholder="Descripción"></textarea>
 
  <label>Choose your file</label>
  <input type="file" name="photo">
    
  <input class="myChoice" type="checkbox" name="wifi"><label for="wifi">WiFi</label>
  <input class="myChoice" type="checkbox" name="cigarettes" value="false"><label for="cigarettes">Cigarettes</label>
  <input class="myChoice" type="checkbox" name="drinks" value="false"><label for="drinks">Drinks</label>
  <input class="myChoice" type="checkbox" name="souvenirs" value="false"><label for="souvenirs">Souvenirs</label>

  <button type="submit" class="button">AÑADIR NUEVO KIOSKO</button>



  </form>
</div>
</>
{{!--  --}}

  <script>window.kiosk = {{{kiosk}}}</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApM0H8i-9V4kDgjug0RW04LOwSRV18uYw"></script>
  <script type="text/javascript" src="/javascripts/geolocalize.js"></script>
  <script type="text/javascript" src="/javascripts/listMap.js"></script>
  <script type="text/javascript" src="/javascripts/googlemap.js"></script>

</body>


{{!-- script de //maps.googleapis.com tiene que tener la clave de la API de google que está escrita en .env --}}