
<head>
  <title>My First Map</title>
  <style>
    #map {
        height: 500px;
        width: 100%;
       }
    </style>
</head>

<body class="image " >
 <h1>Look for your Kiosk</h1>

  <div id="map" ></div>
  
{{!-- FORM --}}
<div > 
  
  <form id="form" class="mapForm" action="/kioskPlaces/new" enctype="multipart/form-data" method="POST">
  <h1 class="add">ADD A NEW KIOSK</h1>
  <input id="newName" type="text" name="newKioskName" placeholder="Kiosk name">
  <input id="latitude" type="hidden" name="newKioskLatitude">
  <input id="longitude" type="hidden" name="newKioskLongitude">
  <textarea id="description" type="text" name="newKioskDesc" placeholder="Description"></textarea>
 
   
  <input class="inputsForm" type="file" name="photo">
    
  <div class="checkbox">
  <input class="myChoice" type="checkbox" name="wifi"><label for="wifi">WiFi</label>
  <input class="myChoice" type="checkbox" name="cigarettes" ><label for="cigarettes">Cigarettes</label>
  <input class="myChoice" type="checkbox" name="drinks" ><label for="drinks">Drinks</label>
  <input class="myChoice" type="checkbox" name="souvenirs" ><label for="souvenirs">Souvenirs</label>
</div>
  <button type="submit" class="link-btn">SUBMIT</button>



  </form>
</div>
</>
{{!--  --}}

  <script>window.kiosk = {{{kiosk}}}</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApM0H8i-9V4kDgjug0RW04LOwSRV18uYw"></script>
  <script type="text/javascript" src="/javascripts/geolocalize.js"></script>
  <script type="text/javascript" src="/javascripts/listMap.js"></script>
  <script type="text/javascript" src="/javascripts/googlemap.js"></script>

</body>


{{!-- script de //maps.googleapis.com tiene que tener la clave de la API de google que está escrita en .env --}}