<h1>Aqui va el mapa de Google Maps</h1>

{{!-- ABAJO ESTÁ COPIADO LO Q VIENE EN LRN PARA CREAR MAPA EN HTML y falta cambiar clave API--}}
<!-- index.html -->

<!DOCTYPE html>
<html>

<head>
  <title>My First Map</title>
  <style>
    #map {
        height: 500px;
        width: 100%;
       }
    </style>
</head>

<body>
 

  <h3>My First Map</h3>
  <div id="map"></div>
  





  <script>window.kiosk = {{{kiosk}}}</script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApM0H8i-9V4kDgjug0RW04LOwSRV18uYw"></script>
  <script type="text/javascript" src="/javascripts/geolocalize.js"></script>
  <script type="text/javascript" src="/javascripts/listMap.js"></script>
  <script type="text/javascript" src="/javascripts/googlemap.js"></script>

</body>

</html>

{{!-- LINEA 21 tiene que tener la clave de la API de google que está escrita en .env --}}