body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p.clasificacion {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 40px;
}

p.clasificacion input {
  position: absolute;
  top: -100px;
}

p.clasificacion label {
  float: right;
  color: #333;
}

p.clasificacion label:hover,
p.clasificacion label:hover ~ label,
p.clasificacion input:checked ~ label {
  color: #FFD700
}

.titleSignup {
  margin: 100px 400px 50px 750px;
  font-family: 'Shadows Into Light', cursive;
}

.signup {
  margin: 90px 400px 200px 600px;
  background-color: #fdf5e6;
  width: 500px;
  border-color: black;
  border-width:2px;
}
